body{
    margin:0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#header{
    height: 85px;
    width:100%;
    background-color: #3b5998;
}
.logo{
    position: absolute;top:0;left:0;
    width:55%;
    height: 85px;
    padding-top: 32px;
}
.login{
    position:absolute;
    top:10px;
    right:0;
    height: 85px;
    width:45%;
       
}
.fb-font{
    position:relative;
    color:white;
    font-size:35px;
    font-weight: bold;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-left: 170px;
    text-decoration: none;
}
.form1{
    position: static;
    padding-left: 70px;
}

.email{
    position:relative;
    color:white;
    font-size: 11px;
}
.email-box{
    position:relative;
    
}
.pswd{
    position:relative;
    left: 180px;
    color:white;
    font-size: 11px;
}
.pswd-box{
    position:relative;
    left: 180px;
    
}
.submit-btn{
    background: #4267b2;
    color:#fff;
    height:20px;
    border-color:#29487d;
    cursor: pointer;
}
.submit-btn:hover{
    background:rgb(50, 50, 121);
}
.forgotten{
    position: relative;
    left:180px;
    color:#9cb4d8;
    text-decoration: none;
    font-size:11px;
    top:5px
}
#section{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height:500px;
}
.left-sec{
    position: relative;
    width:55%;
    height: 500px;
    float:left;
    /* padding-top: 50px;
    padding-left: 100px; */
}
.para{
    position:relative;top:50px;left:100px;
    font-weight: bold;
    font-size:21px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
section .left-sec img{
    align-items: center;
    display: flex;
    padding-left: 15rem;
    padding-top: 8rem;
    
}
.right-sec{
    position: relative;
    /* background-color: yellow; */
    width:45%;
    height: 500px;
    /* padding-left: 20px; */
    float:left;
}
.form2{
    margin-left: 30px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#fname{
    height: 24px;
    width:200px;
    border-radius: 2px;
    border-color:#fff;
}
#sname{
    height: 24px;
    width:200px;
    border-radius: 2px;
    border-color:#fff;
}
#mob{
    height:24px;
    width: 412px;
    border-radius: 2px;
    border-color:#fff;
    margin-top: 2%;
}
#pswd{
    height:24px;
    width: 412px;
    border-radius: 2px;
    border-color:#fff;
    margin-top: 2%;
}
.dob{
    position: relative;
    padding-top: 20px;

}
.gray{
    position: relative;
    color:rgb(70, 69, 69);
    bottom: 0px;
    /* margin-top: 100px;  */
    
}
.dob1{
    margin-top: 5px;
    border-radius: 2px;
    border-color:gray;
}
.radio1{
    position: relative;
    top: 20px;
    margin-top: 10px;
}
.gender1{
    position: relative;
    color:rgb(70, 69, 69);
    bottom: 10px;
    /* margin-bottom: 10px; */
}
.fsubmit{
    position:relative;
    background-color: rgb(23, 126, 23);
    color: white;
    width: 190px;
    height: 33px;
    border-radius: 4px;
    border-color:gray;
    top: 50px;
}
#footer{
    position:relative;
    background-color: #3b5998;
    width:100%;
    height:72px;

}
/* .footer{
    position:absolute;
    top:0
} */
.foot{
    position: absolute;
    color:white;
    bottom:0;
    left:45%;
    font-size: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}